[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
skops = "*"
fastapi = "*"
uvicorn = "*"
tldextract = "*"

[dev-packages]
pytest = "*"
ruff = "*"
httpx2 = "*"
black = "*"
ansible-core = "*"

[requires]
python_version = "3.14"
